<div [class.dark-theme]="isDarkTheme">

  <div class="layout-container" [class.layout-is-mobile]="isScreenXSmall">
    <mat-toolbar color="primary" class="layout-toolbar">
      <button mat-icon-button caria-label="Menu" (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="./assets/img/logo.png"  [routerLink]="['/dashboard']" class="logo-header">
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" aria-label="Tema" matTooltip="Opções">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <mat-sidenav-container class="layout-sidenav-container" [style.marginTop.px]="isScreenXSmall ? 56 : 0">
      <mat-sidenav #snav [mode]="isScreenXSmall ? 'over' : 'side'" [opened]="!isScreenXSmall" 
      [fixedInViewport]="isScreenXSmall" fixedTopGap="56" (click)="isScreenXSmall ? snav.close() : ''">

        <header class="user-header">
          <span class="text-top">
            <span class="user-login">
              <mat-icon>account_circle</mat-icon>
              <strong>&nbsp;{{username | titlecase}}</strong>
            </span>
            <p class="pointer">{{user?.email}}</p>
          </span>
        </header>
        <hr >

        <mat-nav-list>
          <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard">
            <span>To Do</span>
          </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
          <mat-list-item (click)="logout()">
            <span>Logout</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
        <div class="pt-25"></div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="changeTheme()">Dark Theme</button>
    <button mat-menu-item [routerLink]="['/dashboard/about']">About</button>
  </mat-menu>
</div>
